# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac OS
.DS_Store

# Build
build/*

# llvm
depends/clang_llvm_8.0/*

# binaryen
depends/binaryen-version_91/*

# test
tests/unit/*.wasm
tests/unit/*.json

# example
example/*.wasm
example/*.json