[submodule "libraries/boost"]
	path = libraries/boost
	url = https://github.com/PlatONnetwork/boost.git
[submodule "libraries/rapidjson"]
	path = libraries/rapidjson
	url = https://github.com/PlatONnetwork/rapidjson.git
[submodule "platon_llvm"]
	path = platon_llvm
	url = https://github.com/PlatONnetwork/llvm.git
	branch = platon
